html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #b0891a;
  --canvas-background: #0a141a;
  --surface-background: hsl(203, 44%, 15%);
  --surface-background--hover: #404040;
  --surface-background--pressed: #1f1f1f;

  background: var(--canvas-background);
  color-scheme: dark;
  font-family: system-ui, sans-serif;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &::before,
  &::after {
    display: none;
  }
}

header {
  select {
    color-scheme: dark;
    background: var(--canvas-background);
    border-color: var(--accent-color);
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
}
